@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
}

@layer base {
    :root {
        /* section's background */
        --hero-bg: linear-gradient(to bottom right, var(--bg2), var(--bg1), var(--bg3));
        --bg1: #221e28;
        --bg2: #1a1625;
        --bg3: #3a3045;
        --bg4: #2a2333;
        --input-bg: var(--bg4);
        --footer-bg: #0f0b14;

        /* Multiple function */
        --accent1: #c9a8b3;
        --accent2: #4a2d5c;
        --accent3: #5d3a73;

        /* Texts */
        --primary: #e8d5e8;  /* navbar */
        --secondary: #D1D5DB; /* navbar */


        
    }

    .light {
        /* background */
        --hero-bg: linear-gradient(to bottom right, var(--bg2), var(--bg1), var(--bg3));
        --bg1: #fdfbfd;
        --bg2: #f8f4f9;
        --bg3: #e8dce8;
        --bg4: #f0e8f2;
        --input-bg: var(--bg2);
        --footer-bg: var(--primary);

        /* Multiple function */
        --accent1: #a67c94;
        --accent2: #8b6b9c;
        --accent3: #6d4a7d;


        /* Texts */
        --primary: #5d3a5f;  /* navbar */
        --secondary: #374151; /* navbar */

    }
}

@theme {

  /* --------------------------------------------------
    Backgrounds
  -------------------------------------------------- */
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
  --color-bg4: var(--bg4);
  --color-input-bg: var(--input-bg);
  --color-footer-bg: var(--footer-bg);


    /* --------------------------------------------------
    Multiple functions
  -------------------------------------------------- */
  --color-accent1: var(--accent1);
  --color-accent2: var(--accent2);
  --color-accent3: var(--accent3);


    /* --------------------------------------------------
    Texts
  -------------------------------------------------- */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);


}

@layer utilities {
  /* Hero Section Background*/
  .bg-hero-bg {
    background: var(--hero-bg);
  }

}
